@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Poppins:wght@300;400&display=swap');
@import url('https://db.onlinewebfonts.com/c/febb3ad29181140b381ac49357890214?family=Etihad+Altis+Book+Book');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Etihad S';
    src: url('../assets/Etihad Altis Book.otf');
    /*src: url('../asset/OpenSans/OpenSans-Medium.ttf');*/
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Etihad S';
    src: url('../assets/Etihad Altis Medium.ttf');
    /*src: url('../asset/OpenSans/OpenSans-Medium.ttf');*/
    font-weight: 500;
    font-style: normal;
}

*{
    font-family: 'Etihad Altis Book Book', 'Poppins', serif;
}
.mono {
    font-family: 'Fira Code', monospace;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}